/*
Here goes all the css applied throughout all templates.
All you need to change is probably here, style.css is only for WordPress to get theme information.

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/***************** GENERAL *****************/
html{
  scroll-behavior: smooth;
}
body,
main {
  font-family: "Montreal", sans-serif;
  min-height: 99vh;
}

main {
  @apply mt-[55px] md:mt-[80px];
}

.container {
  max-width: 1140px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/***************** GENERAL *****************/

/***************** HEADER *****************/
#header {
  background: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.2);
  top: 0;
}
#header .logo > img {
  height: 100%;
  @apply min-h-[auto] md:max-h-[45px];
}

#header .logo_wrapper a {
  @apply w-full h-full;
}

/***************** GENERAL *****************/

/***************** COMPONENTS *****************/
/******** MODAL ********/
.modalDialog {
  display: none;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  pointer-events: auto;
  backdrop-filter: blur(1px);
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  @apply w-[90%] md:w-[400px];
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}

/******** MODAL ********/
/******** CAROUSEL ********/
.carousel {
  max-width: 100%;
  position: relative;
  margin: auto;
  .carousel-items {
    display: flex;
    align-items: center;
    position: relative;
    @apply min-h-[510px];
    .carousel-item {
      position: absolute;
      @apply w-full min-h-[500px] flex flex-wrap items-center;
      .inner-wrapper {
        .item-content {
          .item-author {
            .author-tag {
              .author {
              }
            }
          }
        }
        .item-img {
          position: relative;
          img {
            @apply z-20;
          }
        }
      }
    }
  }
  .controls {
    .dots {
      @apply md:-translate-y-24;
      .dot {
        aspect-ratio: 4/4;
        cursor: pointer;
        margin: 0 3px;
        border-radius: 100%;
        display: inline-block;
        transition: all 0.6s ease-in-out;
        @apply bg-secondary-300 h-[30px] w-[30px] md:w-[15px] md:h-[15px];
      }
      .dot.active {
        cursor: unset;
        @apply bg-secondary-500 scale-110;
      }
    }
  }
}
/******** CAROUSEL ********/
.cta {
  @apply flex justify-center md:justify-start text-white;
}
.cta > a {
  border-radius: 50px;
  position: relative;
  padding: 12px 24px;
  min-height: 50px;
  min-width: 100px;
  transition: 0.4s all ease-in-out;
  font-weight: 600;
  @apply border-secondary-500 bg-secondary-500;
}
.cta > a:hover {
  transform: translateY(-5px);
  @apply bg-secondary-500;
}
.cta > a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 3px;
  left: 50%;
  bottom: -1px;
  z-index: 99;
  bottom: 0;
  transition: 0.5s all ease-in-out;
  @apply bg-tertiary-500;
}
.cta > a:hover::after {
  border-radius: 0px 0px 10px 10px;
  bottom: 0px;
  width: 84%;
  left: 7.6%;
  z-index: 99;
  transition: 0.5s all ease-in-out;
  @apply bg-tertiary-500;
}
/*CTA*/
/*LOADER*/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*LOADER*/
/*FORMS*/
.wpcf7 {
  @apply w-full;
}
.wpcf7 form {
  @apply flex flex-wrap flex-col justify-center;
}
.wpcf7 form p:not(:last-of-type){
  @apply w-full mb-6;
}

.wpcf7 label {
  @apply w-full text-lg text-dark_component-500;
}
.wpcf7 input:not(.wpcf7-submit) {
  @apply transition-all max-w-full pl-6 py-3 pr-3 border-b-dark_component-500 border-solid border-b-2 text-base;
}

.wpcf7 textarea {
  @apply transition-all  max-w-full pl-6 py-3 pr-3 w-full border-b-dark_component-500 border-solid border-b-2 max-h-32 md:max-h-48 resize-none;
}
.wpcf7 .wpcf7-submit {
  @apply transition-all w-full md:w-6/12 bg-secondary-500 text-white rounded py-1 hover:bg-tertiary-500 hover:text-dark_component-500;
}
/***************** COMPONENTS *****************/

/***************** HOME *****************/

#home {
  @apply bg-white;
  /****** VAR DEFINITION ******/
  --height-hero: 900px;
  --height-hero-mb: 500px;
  /****** VAR DEFINITION ******/
}
#home .overlay.light {
  @apply bg-gradient-to-b from-white to-secondary-200 absolute w-full h-[calc(var(--height-hero-mb)+25px)] md:h-[calc(var(--height-hero)+15%)];
}
#home #hero-section {
  @apply relative flex justify-center z-10 w-full;
}
#home #hero-section .img-bg {
  @apply absolute bg-no-repeat bg-cover bg-center w-[120%] h-[140%] left-0;
}
#home #hero-section .img-bg:before {
  content: "";
  @apply absolute w-full h-full opacity-[0.3] z-10;
}
#home #hero-section .columns {
  @apply z-10  h-[var(--height-hero-mb)] md:h-[var(--height-hero)];
}

#home #hero-section .left {
  @apply flex flex-wrap items-center;
}

#home #hero-section .left .title {
  animation: FadeInDown 2s ease-in-out;
  @apply px-4 md:px-0 text-center md:text-left text-3xl md:text-8xl font-bold text-tertiary-500 leading-none;
}

#home #hero-section .description {
  animation: FadeInLeft 2s ease-in-out forwards 1.5s;
  @apply px-4 opacity-0 text-xl md:px-0 text-center md:text-left text-dark_component-500 w-full md:w-10/12;
}

#home #hero-section .description{
  @apply py-5;
}

#home #hero-section .section_transition {
  @apply z-10 relative w-full;
}
#home #section_1 {
  @apply relative w-full flex min-h-[500px];
}
#home #section_1 .section_wrap {
  @apply mt-8 mb-24 z-10 flex;
}
#home #section_1 .section_content {
  @apply flex flex-wrap items-center justify-evenly w-full;
}
#home #section_1 .item_wrap > *:first-child {
  @apply absolute bg-center bg-no-repeat bg-cover overflow-hidden;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
}
#home #section_1 .item_wrap {
  @apply flex items-center justify-center mb-8 overflow-hidden relative transition-all duration-300 ease-in-out px-1 py-1;
}
#home #section_1 .item_icon {
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  @apply justify-center hidden md:flex items-center text-8xl text-tertiary-500 absolute w-full h-full transition-all duration-300 ease-in-out;
}

#home #section_1 .overlay {
  @apply z-0 absolute w-full h-full opacity-100 backdrop-blur-[2px] transition-all duration-500 ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}
#home #section_1 .item_title {
  padding: 2rem 1.2rem !important;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  @apply z-10 absolute w-full h-full bottom-0 transition-all duration-500 ease-in-out min-h-[100px] text-center text-2xl md:text-3xl text-tertiary-500;
}
#home #section_1 .item_title > h3 {
  @apply w-full min-h-[100px];
}
#home #section_1 .item_content {
  @apply z-[99] min-h-[450px] text-dark_component-500 bg-transparent flex justify-center flex-col;
}
#home #section_1 .item_content > * {
  @apply w-full;
}

#home #section_1 .item_content > .item_description {
  padding: 1rem 1.2rem;
  @apply font-medium w-full min-h-[200px] text-justify text-white pt-0;
}

#home #section_1 .item_content > .item_description.item_highlight {
  @apply text-tertiary-500 font-bold text-lg;
}
/*Devices with hover*/
@media (hover: hover) {
  #home #section_1 .item_title > h3 {
    @apply transition-all duration-500 ease-in-out translate-y-[300%];
  }
  #home #section_1 .item_content {
    @apply transition-all duration-500 ease-in-out translate-y-[150%];
  }

  #home #section_1 .item_wrap:hover .item_icon {
    @apply opacity-0;
  }
  #home #section_1 .item_wrap:hover .item_title {
    @apply text-secondary-500 transition-all duration-500 ease-in-out;
  }
  #home #section_1 .item_wrap:hover .item_title > h3 {
    @apply transition-all duration-500 ease-in-out w-full translate-y-0;
  }
  #home #section_1 .item_wrap:hover .overlay {
    @apply z-0 absolute w-full h-full opacity-100 backdrop-blur-[6px] transition-all duration-500 ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #home #section_1 .item_wrap:hover .item_content {
    @apply text-dark_component-500 transition-all duration-500 ease-in-out translate-y-0 z-[99];
  }
  #home #section_1 .item_wrap:hover {
    @apply translate-y-[-3%] transition-all duration-300 ease-in-out;
  }
  #home #section_1 .item_wrap::before {
    content: "";
    animation: border_contract 1s reverse ease-in-out;
  }
  #home #section_1 .item_wrap:hover::before {
    animation: border_expand 0.4s forwards ease-in-out normal;
  }
}
@media (hover: none) {
  #home #section_1 .item_wrap::before {
    content: "";
    animation: border_contract 1s reverse ease-in-out;
  }
  #home #section_1 .item_wrap::before {
    animation: border_expand 0.4s forwards ease-in-out normal;
  }
}
#section_3 .square {
  @apply w-full h-full bg-tertiary-400 rounded-xl absolute z-0 translate-x-8 translate-y-8;
}

/***************** ANIMATIONS *****************/
.FadeInUp{
  animation: .5s FadeInUp ease-in-out forwards;
}
.FadeInDown{
  animation: .5s FadeInDown ease-in-out forwards;
}
.FadeInLeft{
  animation: .5s FadeInLeft ease-in-out forwards;
}
.FadeInRight{
  animation: .5s FadeInRight ease-in-out forwards;
}

/******** PROPERTIES ********/
.anim_delay-250ms {
  animation-delay: 0.25s;
}

.anim_delay-500ms {
  animation-delay: 0.5s;
}

.anim_delay-750ms {
  animation-delay: 0.75s;
}

.anim_delay-1s {
  animation-delay: 1s;
}

/******** PROPERTIES ********/

/******** BASIC ********/
@keyframes FadeInLeft {
  from {
    transform: translateX(-120%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes FadeInRight {
  from {
    transform: translateX(120%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes FadeInDown {
  from {
    transform: translateY(-120%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes FadeInUp {
  from {
    transform: translateY(120%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

/******** BASIC ********/

@keyframes border_expand {
  0% {
    position: absolute;
    content: "";
    width: 0%;
    height: 5px;
    left: 50%;
    z-index: -1;
    bottom: -2px;
    @apply bg-secondary-500;
  }

  25% {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: 5px;
    left: calc(0% - 2px);
    z-index: -1;
    bottom: -2px;
    @apply bg-secondary-500;
  }

  100% {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 3px);
    left: calc(0% - 2px);
    z-index: -1;
    bottom: -2px;
    @apply bg-secondary-500;
  }
}

@keyframes border_contract {
  0% {
    position: absolute;
    content: "";
    width: 0%;
    height: 5px;
    left: 50%;
    z-index: -1;
    bottom: -2px;
    @apply bg-secondary-500;
  }

  25% {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: 5px;
    left: calc(0% - 2px);
    z-index: -1;
    bottom: -2px;
    @apply bg-secondary-500;
  }

  100% {
    position: absolute;
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 3px);
    left: calc(0% - 2px);
    z-index: -1;
    bottom: -2px;
    @apply bg-secondary-500;
  }
}

/***************** Animations *****************/
